.recent-chat {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 500px;
  height: 200px;
  justify-content: space-around;
}

.recent-chat-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}