.search-bar {
  color: grey;
  padding: 10px;
  border: none;
  resize: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  border-radius: 10px;
  background-color: white;
}

.fa-magnifying-glass{
  margin-right: 10px;
}